@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import "variables/variables";
@import "sass2/condicionales";
@import "sass2/extend";
@import "sass2/maps";
@import "sass2/mixins";
@import "sass2/operaciones";
@import "partials/footer";
@import "partials/header";
@import "partials/main";
@import "partials/body";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}